.camcybertitle{
    font-family: 'bayon', sans-serif;
}
.containercyber{
    padding:1rem 1rem;
    display: flex;
    border:1px solid white;
    margin:auto;
    width: 250px;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.sloganbanner{
    height: 5rem;
    width: 100vw;
    overflow: hidden;
    margin-top: 10%;
    padding: 1.5rem 0rem;  
    bottom: 0;
}